* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bg-color: #05070a;
  --main-color: #0d0f1e;
  --text-color: #e0e6ed;
  --buttom-destak-color: #7b61ff;
  --card-bg: #0f172a;
}

.light-mode {
  --bg-color: #f8fafc;
  --text-color: #0f172a;
  --buttom-destak-color: #5839ff;
  --card-bg: #ffffff;
}

body {
  background-color: var(--bg-color);
  font-family: "Montserrat", sans-serif;
  color: var(--text-color);
  padding: 20px;
}

h1,
h2,
h3 {
  font-family: "Orbitron", sans-serif;
}
main {
  background-color: var(--main-color);
}
#header-principal {
  background-color: var(--main-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  width: 100%;
}

#header-principal h1 {
  text-align: center;
}

.menu {
  display: flex;
  align-items: center;
  gap: 20px;
}
.menu ul {
  display: flex;
  list-style: none;
  gap: 20px;
}

#theme-toggle {
  display: block;
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
}
/* seção home */

#home {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 70px;
  background-image: url(./assets/telescope-2.jpg);
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
}

#home h2 {
  line-height: 1.1;
  text-align: center;
  margin-bottom: 20px;
  color: var(--text-color);
  text-shadow: #05070a;
}
.botao-explore {
  padding: 10px;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  border-radius: 10px; /* obs tirar uma borda de cima*/
  cursor: pointer;
  background-color: var(--buttom-destak-color);
  transition: transform 0.3s ease;
}
.botao-explore:hover {
  transform: scale(1.1);
}

#eventos h2 {
  text-align: center;
  margin-bottom: 10px;
}

/* grid e eventos*/

.container-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}

.card-evento {
  background-color: var(--card-bg);
  padding: 20px;
  border-radius: 12px;
  box-shadow: var(--buttom-destak-color);
}
.card-evento:hover .card-imagem img {
  transform: scale(1.1);
}
.card-imagem {
  height: 200px;
  object-fit: cover;
  width: 100%;
  border-radius: 8px 8px 0 0;
  overflow: hidden;
}
.card-imagem img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease;
  padding: 1.5rem;
  font-size: 0.95rem;
  line-height: 1.6;
  padding: 1.5rem;
  color: var(--text-color);
  opacity: 0.9;
}
.card-conteudo h3 {
  margin-bottom: 1rem;
}

/* forumlario*/

#assinar {
  margin-top: 20px;
  background-color: var(--card-bg);
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 15px;
  border-radius: 8px;
}
input {
  border-radius: 8px;
  border: transparent;
}

.botao-enviar {
  margin-top: 10px;
  padding: 10px;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  border-radius: 10px; /* obs tirar uma borda de cima*/
  cursor: pointer;
  background-color: var(--buttom-destak-color);
  transition: transform 0.3s ease;
}
.botao-enviar:hover {
  transform: scale(1.1);
}

footer {
  padding: 40px 0;
  text-align: center;
}

section {
  padding: 5%;
}
