* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth; /* nao funcionou*/
}

:root {
  --branco: #ffffff;
  --bg-color: #05070a;
  --main-color: #0d0f1e;
  --text-color: #e0e6ed;
  --buttom-destak-color: #7b61ff;
  --card-bg: #0f172a;
}

.light-mode {
  --bg-color: #f8fafc;
  --text-color: #0f172a;
  --buttom-destak-color: #5839ff;
  --card-bg: #ffffff;
  --header-bg: #ffffff;
  --header-border: rgba(0, 0, 0, 0.1);
}

body {
  font-size: 16px;
  background-color: var(--bg-color);
  font-family: "Montserrat", sans-serif;
  color: var(--text-color);
  margin: 0;
}

h1,
h2,
h3 {
  font-family: "Orbitron", sans-serif;
}
h2 {
  font-size: 1.5rem;
}
main {
  background-color: var(--main-color);
}

section {
  scroll-margin-top: 61px;
   padding: 5%;
}

/* seção header*/
#header-principal {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 24px;
  flex-wrap: wrap;
  position: sticky;
  top: 0;
  z-index: 1000;
  background: var(--bg-color);
  border-bottom: 1px solid var(--header-border);
}
.logo {
  font-size: 2rem;
}
.menu {
  display: flex;
  font-family: "Orbitron";
  gap: 16px;
  margin-left: auto;
  align-items: center;
}

.menu a {
  text-decoration: none;
  padding: 8px 12px;
  color: var(--text-color);
  font-size: 26px;
  transition: transform 0.3s ease;
}
.menu a:hover {
  color: var(--buttom-destak-color);
  transform: scale(1.1);
}

.hamburguer {
  display: none;
  flex-direction: column;
  gap: 5px;
  cursor: pointer;
}

.hamburguer span {
  width: 25px;
  height: 3px;
  background: var(--text-color);
  transition: 0.3s;
}
#btn-tema {
  display: block;
  background: none;
  border: 1px solid var(--buttom-destak-color);
  border-radius: 8px;
  padding: 5px 10px;
  color: var(--text-color);
  font-size: 1.5rem;
  cursor: pointer;
}
.light-mode .menu a {
  color: #0f172a;
}
.light-mode .menu a:hover {
  color: var(--buttom-destak-color);
}

/* seção home */

#home {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 70px;
  background-image: url(./assets/telescope-3.png);
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
}

#home h2 {
  letter-spacing: 2px;
  font-weight: bold;
  line-height: 1.1;
  text-align: center;
  margin-bottom: 20px;
  color: var(--branco);
  text-shadow:
    0 0 10px #00ffff,
    0 0 20px #00ffff,
    0 0 30px #00008b;
}
.botao-explore {
  padding: 20px 50px;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  border-radius: 10px;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  transition: transform 0.3s ease;
  color: var(--text-color);
}
.botao-explore:hover {
  transform: scale(1.1);
}

#eventos h2 {
  text-align: center;
  margin-bottom: 10px;
}

/* section eventos*/

.container-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}

.card-evento {
  background-color: var(--card-bg);
  padding: 20px;
  border-radius: 12px;
  box-shadow: var(--buttom-destak-color);
}
.card-evento:hover .card-imagem img {
  transform: scale(1.1);
}
.card-evento time {
  display: block;
  margin-top: 10px;
  font-size: 0.9rem;
  color: #777;
}
.card-imagem {
  height: 200px;
  object-fit: cover;
  width: 100%;
  overflow: hidden;
}
.card-imagem img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease;
}
.card-conteudo h3 {
  margin-top: 10px;
  margin-bottom: 1rem;
}
.card-conteudo p {
  padding: 1.5rem;
  font-size: 0.95rem;
  line-height: 1.6;
  opacity: 0.9;
}

/* section noticias*/
#noticias h2 {
  text-align: center;
  padding: 10px;
  margin-bottom: 10px;
}
.btn-saiba-mais {
  border: none;
  margin-top: 10px;
  padding: 10px;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  border-radius: 10px;
  cursor: pointer;
  color: var(--branco);
  background-color: var(--buttom-destak-color);
  transition: transform 0.3s ease;
}
.btn-saiba-mais:hover {
  transform: scale(1.1);
}
/* forumlario*/

#assinar {
  margin: 40px 15px;
  background-color: var(--card-bg);
  border-radius: 12px;
  max-width: 500px;
  text-align: center;
  border: 2px solid var(--buttom-destak-color);
  margin: 40px auto;

  text-align: center;
}

#assinar form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  text-align: left;
}

#assinar label {
  font-family: "Orbitron", sans-serif;
  font-size: 0.9rem;
}

#assinar input {
  padding: 12px;
  border-radius: 10px;
  background-color: #0d0f1e;
  border: 1px solid var(--buttom-destak-color);
  color: var(--text-color);
  font-family: "Montserrat", sans-serif;
}

#assinar input:focus {
  outline: none;
  box-shadow: 0 0 0 2px rgba(123, 97, 255, 0.3);
}

.botao-enviar {
  padding: 12px;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  border-radius: 10px;
  cursor: pointer;
  background-color: var(--buttom-destak-color);
  color: white;
  border: none;
  transition: transform 0.3s ease;
}

.botao-enviar:hover {
  transform: scale(1.05);
  filter: brightness(1.1);
}

footer {
  padding: 40px 0;
  text-align: center;
  background-color: var(--card-bg);
}

.btn-flutuante {
    position: fixed; /* Fixa o botão na tela */
    bottom: 20px;
    right: 20px;
    background-color: var(--buttom-destak-color);
    color: var(--bg-color);
    padding: 15px 20px;
    border-radius: 50px;
    text-decoration: none;
    font-family: "Orbitron", sans-serif;
    font-size: 0.8rem;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
    z-index: 9999;
    transition: transform 0.3s, opacity 0.5s;
    opacity: 0; 
    visibility: hidden; 
    max-width: 200px;
    text-align: center;
    animation: pulsar 2s ease-in-out infinite; 
}


.btn-flutuante.mostrar {
    opacity: 1;
    visibility: visible;
}

.btn-flutuante:hover {
    transform: scale(1.05);
}

@keyframes pulsar {
    0% {
        transform: scale(1); 
        box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3); 
    }
    50% {
        transform: scale(1.1); /* Cresce 10% */
        box-shadow: 0 4px 25px rgba(123, 97, 255, 0.5); 
    }
    100% {
        transform: scale(1); 
        box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3); 
    }
}



/* media  queries*/
@media (min-width: 769px) {
  .container-grid {
    grid-template-columns: repeat(2, 1fr);
  }
  .menu {
    display: flex !important;
    position: static;
    background: none;
    box-shadow: none;
    padding: 0;
    flex-direction: row;
  }
}

@media (min-width: 1024px) {
  .container-grid {
    grid-template-columns: repeat(2, 1fr);
  }
  #home {
    min-height: 100vh;
    padding: 100px 20px;
    background-size: cover;
    background-position: center top;
  }
  #assinar {
    max-width: 800px;
    padding: 60px;
  }
}

#noticias p {
  font-size: 15px;
}

#home h2 {
  font-size: 3rem;
}

@media (max-width: 768px) {
  .hamburguer {
    display: flex;
  }

  .menu {
    position: absolute;
    top: 70px;
    right: 20px;
    background: var(--card-bg);
    border: 1px solid var(--buttom-destak-color);
    flex-direction: column;
    padding: 16px;
    border-radius: 8px;
    display: none;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  }
  .menu a {
    color: var(--text-color);
  }
}
